body{
  background-color: blueviolet;
}
p{
  border-bottom: 2px solid red;
}
li{
  margin: 20px;
  padding: 5px;
  font-weight: bold;
  font-family: cursive;
}
ul{
  border-radius: 7px;
  background-color: darkmagenta;
}
h1{
  text-align: center;
  font-family: cursive;
}